/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) {
html{
    font-family: 'Raleway', sans-serif;
}


/***** HEADER *****/
header {
    display:flex;
}


.titre_site {
    width:75%;
    background-color: crimson;
}

.titre_site>img {
    max-width: 15%;
    height: auto;
}

.menu_site{
    display: flex;
    flex:1;
    background-color:teal;
    justify-content: space-between;
    align-items: center; /*centre les éléments verticalement*/
}

.menu_item{
    text-decoration: none;
    color: black;
}

.menu_item:hover {
    border-top : 2px solid #0065FC;

}

.menu_site a:hover {
    text-decoration: overline;

    color: blue;
}

.menu_item_inscription{
    color : #0065FC;
    font-weight: bold;
    text-decoration:none;
}




.form_recherche{
    display:flex;
}
.form_recherche i{
    background:#F2F2F2;
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_recherche input{
    width:230px;
    border-top : 1px solid #F2F2F2;
    border-bottom : 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    font-size: 1.2rem;
}
.form_recherche button {
    width:95px;
    height:50px;
    margin:0;
    background:#0065FC;
    color:white;
    font-weight: 900;
    padding : 0 10px;
    border-radius: 0 10px 10px 0;
    border:none;
}


/***** FILTRES *****/


.filtres_recherche{
    display: flex;
    align-items: center;
}


.filtres_recherche ul {
    display: flex;
    list-style:none;
}

.filtres_recherche li{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.filtres_recherche i {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    width:50px;
    height:50px;
    background:#DEEBFF;
    border-radius: 50%;
    z-index: 2; /*fait passer lle fond au dessus de la bordure du texte*/
}

.liste_filtres h3{

    display: flex;
    align-items: center;
    height: 44px;
    border : 2px solid #F2F2F2;
    border-radius: 0 25px 25px 0;
    position: relative;
    right:20px;
    padding:0px 15px 0px 30px;

}

.texte_info{
    display: flex;
    align-items: center;
}

.texte_info i{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    height:20px;
    width:20px;
    font-size: 0.8rem;
    margin-right: 10px;
}



/****** PARTIE HEBERGEMENT ******/

.Hebergement {

    flex-wrap: nowrap;
}

.Liste_hebergement{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 70%;
    
}

.Liste_hebergement img{
    border-radius: 20px 20px 0 0;
    height : 100%;  width : 100%;

}


.Hebergement_populaire{
    width:33%;
}



/****** PARTIE ACTIVITE ******/


.Activites h2 {
    margin-bottom: 30px;
}

.activites_liste{
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}

.activites_col_un, .activites_col_deux {
    width : 23%;
}

.activites_col_un{


}

.activites_col_deux{
    display:flex;

}


.Activites figure{
    float: left;
    background-color: white;
    border-radius: 20px;
}

.Activites figure img{
    border-radius: 20px 20px 0 0;
    height : 100%;  width : 100%;

}

.Activites figure figcaption{
    font-weight: bold;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}




/****** FOOTER ******/

footer{
    background-color: #F2F2F2;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

footer>section{
    flex-direction: column;
}

footer>section>p{
    font-weight: bold;
}

footer>section>ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

footer>section>ul>li {
    margin-bottom:15px;/* à adapter */
}



/*CSS TEMP A SUPPRIMER*/


.Recherche{
    background-color: aquamarine;

}


.Hebergement {
    background-color: coral;

}


.Activites{
    background-color: greenyellow;
}


}