@font-face {
    font-family: "Raleway";
    src: url("./Policy/Raleway/static/Raleway-Regular.ttf");
}

html{
    font-family: "Raleway", arial, sans-serif;
}

.contenu_principal {
    margin-left: 10px;
    margin-right: 10px;

}

section {
    margin-bottom: 20px;
}


/***** HEADER *****/
header {
    display:flex;
    flex-wrap: wrap;
}


.titre_site {
    width:70%;
}

.titre_site img {
    max-width: 15%;
}

.menu_site{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center; /*centre les éléments verticalement*/
}

.menu_item{
    text-decoration: none;
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}

.menu_item:hover {
    border-top : 2px solid #0065FC;
    color: blue;

}


.menu_item_inscription{
    color : #0065FC;
    font-weight: bold;
    text-decoration:none;
    margin-left: 4px;
    margin-right: 4px;
}

/***** RECHERCHE *****/

.form_recherche{
    display:flex;
}
.form_recherche>i{
    background:#F2F2F2;
    border-radius: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_recherche input{
    width:230px;
    border-top : 1px solid #F2F2F2;
    border-bottom : 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    font-size: 1.2rem;
}
.form_recherche button {
    width:95px;
    height:50px;
    margin:0;
    background:#0065FC;
    color:white;
    font-weight: 900;
    padding : 0 10px;
    border-radius: 0 10px 10px 0;
    border:none;
}

.loupe {
    display:none;
}


/***** FILTRES *****/


.filtres_recherche{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.filtres_recherche ul {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
}

.filtres_recherche li{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.filtres_recherche li:hover{
    color:#0065FC;

}

.filtres_recherche i {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    width:50px;
    height:50px;
    background:#DEEBFF;
    border-radius: 50%;
    z-index: 2; /*fait passer lle fond au dessus de la bordure du texte*/
}

.liste_filtres h3{

    display: flex;
    align-items: center;
    height: 44px;
    border : 2px solid #F2F2F2;
    border-radius: 0 25px 25px 0;
    position: relative;
    right:20px;
    padding:0px 15px 0px 30px;

}

.texte_info{
    display: flex;
    align-items: center;
}

.texte_info i{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    height:20px;
    width:20px;
    font-size: 0.8rem;
    margin-right: 10px;
}



/****** PARTIE HEBERGEMENT ******/

.Hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Hebergement h2 {
    margin-left: 20px;
}

.Hebergement a {
    text-decoration: none;
    color : black;
}

.Hebergement h3 {
    margin-top: 5px;
}

.Liste_hebergement{
    background-color: #F2F2F2;
    display: flex;
    flex:1; /*le bloc occupe toute la largeur possible*/
    flex-direction: column;
    border-radius: 20px 20px 20px 20px; 
    margin-right: 10px;
}

.Liste_hebergement>p {
    margin-left: 30px;
    font-weight: bold;
}

.etoiles{
    color : #0065FC;
}

.etoiles .vide{
    color:#F2F2F2;
}

.hebergement_vignette{
    display:flex;
    flex-wrap: wrap; /*autorise retour à la ligne*/
    /*margin-left: 20px;
    margin-right: 20px;*/
}

.hebergement_vignette a{
    height :330px;
    width:33%;
}

.hebergement_vignette figure{
    border : 4px solid white;
    background-color: white;
    border-radius: 20px;
    margin:10px;
    height: 90%;
}

.hebergement_vignette img{
    border-radius: 20px 20px 0 0;
    height : 60%;  
    width : 100%;
    object-fit: cover;
}

.hebergement_vignette figcaption{
    margin-left: 10px;
    padding-bottom: 10px;
}


.Hebergement_populaire{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    width: 30%;
}

.hebergement_populaire_titre{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hebergement_populaire_titre i {
    display:flex;
    align-items: center;
    margin-right: 20px;
}

.hebergement_populaire_vignette {
    width:95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.hebergement_populaire_vignette figure{
    display:flex;
    height :200px;
    width: 360px;
    border : 4px solid white;
    background-color: white;
    border-radius: 20px;
    margin:auto;
    margin-bottom: 30px;
}

.hebergement_populaire_vignette a{
    display:flex;
}

.hebergement_populaire_vignette .etoiles {
    margin-top: auto;
    margin-bottom: 10px;
}


.hebergement_populaire_vignette img {
    position: relative;
    width:50%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.hebergement_populaire_vignette h3 {
    margin-bottom: 5px;
}

.Hebergement_populaire figcaption{
    width:50%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}




/****** PARTIE ACTIVITE ******/

.Activites{
    margin-bottom: 20px;
}

.Activites h2 {
    margin-bottom: 30px;
}

.activites_liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites_liste figcaption {
    display: flex;
    align-items: center;
    flex:1;
}

.activites_colone_multi, .activites_colone_unique {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width:23%;
}

.activites_colone_unique a {
    height:100%;
}

.grande_vignette {
    height:100%;
}

.grande_vignette, .petite_vignette{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #F2F2F2;

}


.grande_vignette img {
    border-radius: 20px 20px 0 0;
    width:100%;
    height: 400px;
    object-fit: cover;
}

.petite_vignette img{
    border-radius: 20px 20px 0 0;
    width:100%;
    height: 160px;
    object-fit: cover;
}

.activites_liste a {
    color:black;
    text-decoration: none;
}

.activites_liste h3{
    margin-left: 10px;
}



/****** FOOTER ******/

footer{
    background-color: #F2F2F2;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0px;
}

footer a{
    text-decoration: none;
    color:black;

}

footer section{
    flex-direction: column;
}

footer p{
    font-weight: bold;
}

footer ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

footer li {
    margin-bottom:15px;/* à adapter */
}





/*CSS TEMP A SUPPRIMER*/
/*
.titre_site{
    background-color: crimson;
}
.menu_site{
    background-color:teal;
}
.Recherche{
    background-color: aquamarine;

}
.Hebergement {
    background-color: coral;

}
.Activites{
    background-color: greenyellow;
}

.activites_colone_multi, .activites_colone_unique {
    background-color: blueviolet;
}

.activites_liste{
    background-color: aqua;
}

*/