html{
    background-color: white;
    font-size: 0.8rem;
}

body{
    margin:0px;
}

.contenu_principal {
    margin:0px;

}

/***** HEADER *****/

.titre_site img {
    max-width:50%;
    height:60px;
}

.titre_site {
    margin-bottom: 20px;
}

.menu_site{
    width:100%;
    flex:auto;
}

.menu_item_inscription {
    position:absolute;
    top:28px;
    right:10px;

}

.menu_item{
    width:50%;
    justify-content: center;
}

.menu_item:hover {
    border-top: 0;
    border-bottom: 2px solid #0065FC;
}

.rechercher {
    display:none;
}

.loupe{
    display: block;
    font-size: 2rem;
}

.form_recherche button{
    width: 60px;
}

.filtres_recherche{
    margin-top: 15px;
}


.filtres_recherche ul {
    margin:0;
}

/****** PARTIE HEBERGEMENT ******/

.Hebergement_populaire{
    order : 1; /*changer l'ordre deux deux blocs*/
    width:100%;
    margin-bottom: 10px;
}

.Liste_hebergement {
    order:2; /*changer l'ordre deux deux blocs*/
    width:100%;
    background-color: white;
    margin:0px;
}

.Hebergement_populaire{
    border-radius: 0px 0px 0px 0px;
}

.hebergement_populaire_vignette figure{
    height :150px;
    width:90%;
}

.hebergement_vignette {
    margin-left: 10px;
    margin-right:10px;
}

.hebergement_vignette a {
    display: flex;
    width : 100%;
    margin:0px;
    height:200px;
}

.hebergement_vignette figure {
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
    box-shadow: 0px 0px 10px 1px #F2F2F2;
}

.hebergement_vignette h3,p {
    margin-top:5px;
    margin-bottom: 5px;
}


/****** PARTIE ACTIVITE ******/

.activites_liste{
    margin-left: 10px;
    margin-right: 10px;
}

.Activites h2 {
    margin-left: 20px;
}

.activites_colone_multi, .activites_colone_unique {
    width:100%;
}

.grande_vignette, .petite_vignette{
    width:98%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.grande_vignette img {
    height: 160px;
}

.activites_colone_unique {
    height:100%;
}

.activites_colone_unique a, .activites_colone_multi a {
    width:100%;
}



/****** FOOTER ******/

footer{
    flex-direction: column;
}

footer>div{
    margin-left: 20px;
}


/*CSS TEMP A SUPPRIMER*/

/*
.titre_site{
    background-color: crimson;
}
.menu_site{
    background-color:teal;
}



.Recherche{
    background-color: aquamarine;

}

.Hebergement {
    background-color: coral;

}
.Activites{
    background-color: greenyellow;
}

.activites_colone_multi, .activites_colone_unique {
    background-color: blueviolet;
}

.activites_liste{
    background-color: aqua;
}

*/